footer.footer-bg-color
  .footer-content
    // Shop Matcha Section
    .footer-section
      h4.footer-section-title Shop Flower
      ul
        li
          a(href='#') Just the Matcha
        li
          a(href='#') The Trial Kit
        li
          a(href='#') Wholesale &amp; Bulk
        li
          a(href='#') Teaware
    // Learn Section
    .footer-section
      h4.footer-section-title Đường dẫn
      ul
        li
          a(href='#') Matcha Recipes
        li
          a(href='#') Caffeine Content
        li
          a(href='#') Health Benefits
    // Let's Stay Connected & Follow us Section
    .footer-section.email-subscribe
      h4.footer-section-title Theo dõi chúng tôi
      .email-input-group
        .email-input-wrapper
          input.email-input(type='email' placeholder='Your Email')
          button.submit-button SUBMIT
      h4.footer-section-title Follow us
      .social-icons-container
        // Pinterest
        a.social-icon(href='#')
          i.fab.fa-pinterest-p
        // Facebook
        a.social-icon(href='#')
          i.fab.fa-facebook-f
        // Instagram
        a.social-icon(href='#')
          i.fab.fa-instagram
        // Twitter
        a.social-icon(href='#')
          i.fab.fa-twitter
  // Copyright and Terms/Privacy
  .footer-bottom
    p &copy; 2025 tenzotea.co
    .link-group
      a(href='#') Terms of Service
      a(href='#') Privacy Policy
      a(href='#') Refund Policy
      a(href='#') Accessibility Policy
