extend ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/pagination.pug
block main 
  .main__conntainer
    h2 Danh sách thông báo
    .listOrder
      img(src="https://tse2.mm.bing.net/th?id=OIP._dscY2Od2Np1uNGB8LRFkAHaGI&pid=Api&P=0&h=180")
      .title
        span Do thi phuong
        span.quantity jhdsgfffffffffffffffffffffffffffffffffjjgksjg
      .price
        .new
          | 434đ

    .listOrder
      img(src="https://tse2.mm.bing.net/th?id=OIP._dscY2Od2Np1uNGB8LRFkAHaGI&pid=Api&P=0&h=180")
      .title
        span 444
        span.quantity 4444
      button Chi tiết