<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="./index.html"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./main.css">

<body>
  <header class="header">
    <div class="header__title">
      <div class="header__title__text">
        <h1>Flower</h1>
        <div class="header__title__text--dot"></div>
      </div>
    </div>
    <input type="file">

    <div class="header__list">
      <ul class="">
        <li><a href="" class = "">Home</a></li>
        <li><a href="" class = "">About</a></li>
        <li><a href="" class = "">Product</a></li>
        <li><a href="" class = "">Review</a></li>
        <li><a href="" class = "">Contact</a></li>
      </ul>
    </div>
    <!-- <div class="header__list__search">
      <input type="text" name = "search" placeholder="Tìm kiếm...">
      <button class  = "btn__search"><i class="fa-solid fa-magnifying-glass"></i></button>

    </div> -->
    <div class="header__icon">
<!-- 
      <a href="">
        <i class="fa-solid fa-heart"></i>
      </a> 
      <a href="">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <a href="">
        <i class="fa-solid fa-user"></i>
      </a> -->
      <a href="">Login</a>
      <a href="">Logout</a>


    </div>
  </header>
  <!-- home section start -->
  <section class="home">
    <div class="home__text">
      <h1>Fresh Flowers</h1>
      <h2>Natural & Beautiful Flowers</h3>
        <p>Những đóa hoa luôn là sự lựa chọn hoàn hảo cho các dịp lễ Tết, tỏ tình, 8/3, ngày cưới,… Nhu cầu mua hoa của
          con người cũng rất đa dạng: để ngắm, để trang trí, để tặng, thậm chí là để nấu ăn.
        </p>
        <a href="" class="btn">learn more</a>

    </div>
  </section>
  <!-- home section end -->

  <!-- about  section start -->

  <section class="about">
    <h1 class="heading"><span>About</span> Us</h1>
    <div class="about__container">
      <div class="about__container__video">
        <video src="./video/about.mp4" loop autoplay muted></video>

        <h3>best flower sellers</h3>
      </div>
      <div class="about__container__content">
        <h3>Why choose us?</h3>
        <p>Shop hoa của chúng tôi tự hào mang đến cho bạn những
          đóa hoa tươi nhất, được tuyển chọn kỹ lưỡng từ những nhà
          vườn uy tín. Với sự đa dạng về loại hoa, mẫu mã và thiết kế sáng tạo,
          chúng tôi cam kết đáp ứng mọi nhu cầu của khách hàng,
          từ những dịp đặc biệt như lễ cưới, sinh nhật, đến các ngày lễ lớn.


        </p>
        <p> Không chỉ cung cấp sản phẩm chất lượng cao, chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
          giao hoa đúng giờ và đảm bảo sự hài lòng tối đa. Lựa chọn shop hoa của chúng tôi, bạn không chỉ nhận được
          những bó hoa đẹp, mà còn mang về niềm vui và ý nghĩa sâu sắc
        </p>
        <a href="" class="btn">learn more</a>
      </div>
    </div>


  </section>

  <!-- about  section end -->
  <!-- icon secton start -->
  <section class="icon__conta">

    <div class="icons">
      <img src="./image/fast-delivery.png" alt="">
      <span class="info">
        <h3>Mễn phí ship</h3>
        <span>Tất cả các loại mặt hàng</span>
      </span>
      </img>
    </div>
    <div class="icons">
      <img src="./image/salary.png" alt="">
      <span class="info">
        <h3>10 ngày trả hàng</h3>
        <span>Nhận tiền lại</span>
      </span>
      </img>
    </div>
    <div class="icons">
      <img src="./image/gift-box (1).png" alt="">
      <span class="info">
        <h3>Quà tặng</h3>
        <span>Cho tất cả các đơn hàng</span>
      </span>
      </img>
    </div>
    <div class="icons">
      <img src="./image/pay.png" alt="">
      <span class="info">
        <h3>Thanh toán an toàn</h3>
        <span>Được cam kết bở Paypal</span>
      </span>
      </img>
    </div>
  </section>

  <!-- icon section end -->
  <!-- Product section start-->
  <section class="product">
    <h1 class="heading">Latest <span>Products</span></h1>

    <div class="product_items">
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://happydayflorist.com/wp-content/uploads/2023/04/3b2f1abfc2d61d8844c7.jpg" alt="">

          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>

            <a href="" class="fa-solid fa-share"></a>
          </div>

        </div>


        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>

      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://i.pinimg.com/736x/18/93/90/189390b3b72546ca833e03932364ae52.jpg" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>

        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://tse1.mm.bing.net/th?id=OIP.E7TrbwPT4E7b7Fm3rtjx0QHaJ4&pid=Api&P=0&h=180" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>


        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://salt.tikicdn.com/cache/w1200/ts/product/94/7d/65/20055218ecbdb53933d6287d9d4db525.jpg"
            alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>

        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://tse3.mm.bing.net/th?id=OIP.hePdiAOdV3EUlhwT575ZTgHaHa&pid=Api&P=0&h=180" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>


        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://tse2.mm.bing.net/th?id=OIP.qFN7IKVSybFo-cKWSyzQbAHaJQ&pid=Api&P=0&h=180" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>

        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://2sao.vietnamnetjsc.vn/images/2023/03/13/20/52/tulip-2.jpg" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>

        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://tse1.mm.bing.net/th?id=OIP.Ah-JLLK11J3q5HoMjFpHIgHaHa&pid=Api&P=0&h=180" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>


        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
      <div class="product__items__item">
        <span>-10%</span>
        <div class="product__items__item__image">
          <img src="https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-linwdwimlm30d0" alt="">
          <div class="add__toCart">
            <a href="" class="fa-solid fa-heart"></a>
            <a href="" class="product__item__text">add To Cart</a>
            <a href="" class="fa-solid fa-share"></a>
          </div>
        </div>

        <div class="product_info">
          <div class="product__name">Flower Pot</div>
          <div class="product__price">
            <div class="product__price_new">$12.44</div>
            <div class="product__price__old">$18.5</div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <!-- Product section end -->


  <!-- setion Custoomer Reviiew -->
  <div class="customer__review">
    <div class="heading">
      <h1>Customer's<span> Review</span></h1>
     
    </div> 
    <div class="customer__review__container">
      <div class="customer__review__box">
      <div class="customer__review__box__star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>

      <p>Không chỉ cung cấp sản phẩm chất lượng cao, chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
        giao hoa đúng giờ và đảm bảo sự hài lòng tối đachúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
        
      </p>

      <div class="customer__review__box__user">
        <img class= "avatar"src="https://i.pinimg.com/originals/be/b2/88/beb28889996baacfe88cbcd461cd04b3.jpg" alt="">
        <div class="customer__review__box__user__name">
          <h3>John Smith</h3>
          <p>Happy Customer</p>
        </div>
        <img src="./image/inverted-commas (1).png" alt="">

      </div>

    </div>

    <div class="customer__review__box">
      <div class="customer__review__box__star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>

      <p>chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
       
      </p>

      <div class="customer__review__box__user">
        <img  class= "avatar" src="https://i.pinimg.com/originals/1d/06/a2/1d06a2d4e063628dc3251c40a032742b.jpg" alt="">
        <div class="customer__review__box__user__name">
          <h3>John Smith</h3>
          <p>Happy Customer</p>
        </div>
        <img src="./image/inverted-commas (1).png" alt="">

      </div>

    </div>
    <div class="customer__review__box">
      <div class="customer__review__box__star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>

      <p>Không chỉ cung cấp sản phẩm chất lượng cao, chúng tôi còn chú trọng đến dịch vụ chăm sóc khách hàng tận tâm,
        giao hoa đúng giờ và đảm bảo sự hài lòng tối đa
      </p>

      <div class="customer__review__box__user">
        <img   class= "avatar" src="https://i0.wp.com/wallpaperaccess.com/full/6174960.png" alt="">
        <div class="customer__review__box__user__name">
          <h3>John Smith</h3>
          <p>Happy Customer</p>
        </div>
        <img src="./image/inverted-commas (1).png" alt="">

      </div>

    </div>
    </div>
    
  </div>
  <div class="contact">
    <div class="heading">
      <h1><span>Contact </span>Us
      </h1>
    </div>
    <div class="contact__box">
      <form action="">
        <input type="text" name="name" placeholder="name">
        <input type="text" name  = "email" placeholder="email">
        <input type="text" name  = "phone" placeholder="phone">
        <textarea name="message" id="" placeholder="message" ></textarea>
        <button class = "btn">Send Message </button>
      </form>
      <div class="contact__box__image">
        <img src="./image/contact.jpg" alt="">
      </div>

    </div>
  </div>
</body>


</html>