
extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  .main__conntainer 
    .header__Main
      h1 Thêm mới tài khoản
    +alert(3000)
    form(action=`/${prefixAdmin}/accounts/create` 
        method='POST' enctype="multipart/form-data")
      .form-group
        label(for='fullName') Họ tên
        input.form-control(type='text' id = "fullName" required='' name = "fullName")
      .form-group
        label(for='email') Email
        input.form-control(type='text' id = "email" required='' name = "email")
      .form-group
        label(for='password') Password
        input.form-control(type='text' required='' id = "password" name  = "password")
      .form-group
        label(for='phone') Số điện thoại
        input.form-control(type='text' id = "phone" required='' name  = "phone")
      .form-group(upload-image='')
        label(for='avatar') &#x1EA2;nh
        input.form-control(type='file' name='avatar' id ="avatar" accept='image/*' upload-image-input='')
        img#preview.image-preview(src='' alt='' upload-image-input='')
      .form-group
        label(for='role_id') Phân quyền
        select#role_id.form-control(name='role_id')
          if(roles.length>0)
            each role in roles 
              option(value=role.id) #{role.title}

      .check__container
        .form-group-check
          input#statusActive.form-check-input(type='radio' name='status' value='active' checked)
          label.form-check-label(for='statusActive') Ho&#x1EA1;t &dstrok;&#x1ED9;ng
        .form-group-check
          input#statusInActive.form-check-input(type='radio' name='status' value='inactive' )
          label.form-check-label(for='statusInActive') D&#x1EEB;ng ho&#x1EA1;t &dstrok;&#x1ED9;ng
      .form-group
        button.btn-add(type='submit')
          | T&#x1EA1;o m&#x1EDB;i
