include ../../mixins/alert.pug
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title
    | Đổi mật khẩu mới
  link(rel='stylesheet' href='/css/main.css')
+alert(3000)
.mainForgotPass
  form#form-1.formforgotPass(action='/user/password/reset' method='POST')
    h2.headingForgotPass Đổi mật khẩu mới
    .spacer
    input(type='hidden' id='email' name='email' value=email required)
    .form-group-forgotPass
      label.form-label-forgotPass(for='pasword') Mật khẩu mới&nbsp;&nbsp;&nbsp;
      input#email.form-controlEmail(name='password' type='text' placeholder='' required)
    //- input(type='hidden' id='email' name='email') // Trường ẩn để gửi email
    button.form-submit-forgotPass Xác nhận
script.
    // toast Message start
  function hideToast() {
    let toast = document.querySelector(".toast");
    if (toast) {
      toast.classList.add("hide");
      setTimeout(() => {
        toast.classList.remove("active", "hide"); // Xóa cả hai class sau hiệu ứng
      }, 500); // Thời gian khớp với transition (0.5s)
    }
  }

  // Thêm sự kiện đóng toast
  setTimeout(() => {
    hideToast();
  }, 3000);
