doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title
    | Signin 
    input(type='text' name='' id='')
  link(rel='stylesheet' href='/css/main.css')
.mainForgotPass
  form#form-1.formforgotPass(action='/user/password/otp' method='POST')
    h2.headingForgotPass Xác Thực OTP
    .spacer
    .form-group-forgotPass
      label.form-label-forgotPass(for='email') Email 
      input#email.form-controlEmail(name='email' type='text' placeholder='' value=email readonly)
      span.form-message
    .form-group-forgotPass
      label.form-label-forgotPass(for='otp') OTP&nbsp;&nbsp;&nbsp;   
      input#email.form-controlEmail(name='otp' type='text' placeholder='')
      span.form-message
    button.form-submit-forgotPass Xác Thực

