
.header__admin
  button(class = "viewAllBtn") Trang chủ
  //- search
  //-   i.fa-solid.fa-magnifying-glass
  //-   input(type='text' placeholder='Search here...')
  .infor__admin
    img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHDdlY8P7b6CVo_SSTb-jOBT733RsLOe1oMQ&s' alt='' style='width: 50px ; height: 50px')
    .name
      h3 do phuong
      span Super admin


